<div class="header content-container">
    <a href="#" class="header__logo-link">
        <img src="assets/icons/weather/sun-forecast-cloud-day-weather-cloudy.png" alt="logo" class="header__logo-img">
        <span class="header__logo-text">Smooth Weather</span>
    </a>
    <div class="header__bot">
        <button (click)="toggleTheme()" class="header__btn">
            <img [src]="'assets/icons/theme/' + (this.commonService.themeSignal() === 'dark' ? 'moon-sm-gray' : 'sun-sm-gray') + '.png'"
                [alt]="this.commonService.themeSignal() === 'dark' ? 'moon' : 'sun'">
        </button>
        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"
            (onChange)="onChange($event)">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                    <img [src]="'assets/icons/flags/' + selectedCountry + '.png'" style="width: 18px" />
                    <div>{{ selectedCountry }}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <img [src]="'assets/icons/flags/' + country + '.png'" style="width: 18px" />
                    <div>{{ country }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</div>