*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: color 0.2s;
}

a,
select {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: color 0.2s;
}
