.dark {
  background-color: $dark-main;
  transition: background-color 0.2s;

  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
  }

  *:focus-visible {
    border-radius: 3px;
    outline: 2px solid $dark-outline;
  }

  .p-dropdown {
    background-color: $dark-main;
    outline: 2px solid $dark-outline;
  }

  .p-dropdown-label > div > div {
    color: $light-main;
    transition: color 0.2s;
  }

  .p-dropdown-items {
    background: $dark-secondary-1;
    .p-dropdown-item {
      background: $dark-secondary-1;
      color: $light-main;
    }
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: $dark-secondary-2;
    color: $light-main;
  }

  .p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    background: $dark-secondary-3;
    color: $light-main;
  }

  .p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: $dark-secondary-3;
    color: $light-main;
  }
}

.light {
  background-color: $light-main;
  transition: background-color 0.2s;

  p,
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #0e0f0f;
  }

  *:focus-visible {
    border-radius: 3px;
    outline: 2px solid $light-outline;
  }

  .p-dropdown {
    outline: 2px solid $light-outline;
  }

  .p-dropdown-label > div > div {
    color: black;
    transition: color 0.2s;
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: $light-secondary-2;
    color: #0e0e0e;
  }

  .p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    background: $light-secondary-1;
  }

  .p-dropdown-panel
    .p-dropdown-items
    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background: $light-secondary-1;
  }

  .content-container {
    box-shadow: 0 4px 30px $light-shadow;
  }
}
