@import "reset";
@import "vars";
@import "theme";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/*
  Global Changes
*/
.content-container {
  border-radius: 16px;
  box-shadow: 0 4px 30px $dark-shadow;
  transition: box-shadow 0.2s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.p-dropdown {
  width: 82px;
  border: none;
  box-shadow: none;
}

.p-dropdown-label {
  padding: 10px 8px;

  & > div {
    display: flex;

    img {
      margin-right: 6px;
    }
  }
}

.p-dropdown-trigger {
  width: 27px;
}
